.column {
  margin: 5px;
  padding: 5px;
  border: 1px solid lightgrey;
  border-radius: 2px;
}

.column-title {
  padding: 2px;
}

.tasklist {
  padding: 5px;
}

.task {
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid lightgrey;
  border-radius: 2px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  display: flex;
  justify-content: right;
  align-items: center;
  float: right;
}