body {
  background-color: #e0fbfc;
}

.hero {
  background-image: url(https://i.pinimg.com/originals/a6/b1/08/a6b1086987b755d39636d790f19603f7.jpg);
  background-size: 100%;
}

.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .column{
    flex: 0 0 auto;
  }
}

.container {
  padding-top: 2%;
}

.column {
  border: 1px solid lightgrey;
  border-radius: 2px;
  padding: 2px;
  margin-left: 1px;
  margin-right: 0px;
}

.tasklist {
  padding: 10px 10px 10px;
  border-radius: 2px;
  transition: background-color 0.2s ease;
  min-height: 500px;
}

.task {
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid #84DCC6;
  border-radius: 2px;

  .is-dragging {
    transform: rotate(3deg);
  }
}



.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  display: flex;
  justify-content: right;
  align-items: center;
  float: right;
}